// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

@import "variables/motionui";



// -----------------------------------------------------------------------------
// Dependencies via Bower
//
// Automatically injected Bower dependencies via wiredep
// NEVER MANUALLY EDIT THIS BLOCK
// -----------------------------------------------------------------------------

// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/foundation-sites/scss/foundation.scss";
@import "bower_components/motion-ui/motion-ui.scss";
// endbower



// -----------------------------------------------------------------------------
// Foundation
// -----------------------------------------------------------------------------

@include foundation-global-styles;
@include foundation-flex-grid;
// @include foundation-grid;
@include foundation-typography;
// @include foundation-forms;
// @include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;



// =============================================================================
// DELETE THIS SECTION

.readme {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: rem-calc(20);
    font-weight: 200;
    margin-top: rem-calc(50);
    @include flex-grid-row;
    @include flex-align($x: center);
    .content {
        width: 100%;
        padding: rem-calc(40);
        @include transition;
        @include breakpoint(medium) {
            width: rem-calc(400);
            padding: rem-calc(60);
            border-radius: rem-calc(6);
            box-shadow: 0 rem-calc(10) rem-calc(50) rgba(38, 50, 56, 0.10);
        }
        ul {
            margin-bottom: 0;
        }
    }
}

// DELETE THIS SECTION
// =============================================================================



// -----------------------------------------------------------------------------
// Add Your Code/Imports Here
// -----------------------------------------------------------------------------
