// -----------------------------------------------------------------------------
// Variables - Motion UI
// -----------------------------------------------------------------------------

$motion-ui-easings: (
  default: ease,
  linear: linear,
  ease: ease,
  ease-in: ease-in,
  ease-out: ease-out,
  ease-in-out: ease-in-out,
  bounce-in: cubic-bezier(0.485, 0.155, 0.24, 1.245),
  bounce-out: cubic-bezier(0.485, 0.155, 0.515, 0.845),
  bounce-in-out: cubic-bezier(0.76, -0.245, 0.24, 1.245),
) !default;

$motion-ui-settings: (
  slide-and-fade: true,
  hinge-and-fade: true,
  scale-and-fade: true,
  spin-and-fade: true,
  activate-queue-class: 'is-animating'
);
